ComputerExam.Util/Web References/WebReference/JobDataHandler.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="examonline">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="exxml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="excode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="examonlineResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="examonlineResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MySoapHeader" type="tns:MySoapHeader" />
      <s:complexType name="MySoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AuthCode" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="examupload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="exxml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="excode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="buffer" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="examuploadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="examuploadResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="examonlineSoapIn">
    <wsdl:part name="parameters" element="tns:examonline" />
  </wsdl:message>
  <wsdl:message name="examonlineSoapOut">
    <wsdl:part name="parameters" element="tns:examonlineResponse" />
  </wsdl:message>
  <wsdl:message name="examonlineMySoapHeader">
    <wsdl:part name="MySoapHeader" element="tns:MySoapHeader" />
  </wsdl:message>
  <wsdl:message name="examuploadSoapIn">
    <wsdl:part name="parameters" element="tns:examupload" />
  </wsdl:message>
  <wsdl:message name="examuploadSoapOut">
    <wsdl:part name="parameters" element="tns:examuploadResponse" />
  </wsdl:message>
  <wsdl:message name="examuploadMySoapHeader">
    <wsdl:part name="MySoapHeader" element="tns:MySoapHeader" />
  </wsdl:message>
  <wsdl:portType name="JobDataHandlerSoap">
    <wsdl:operation name="examonline">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">方法</wsdl:documentation>
      <wsdl:input message="tns:examonlineSoapIn" />
      <wsdl:output message="tns:examonlineSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="examupload">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">方法2</wsdl:documentation>
      <wsdl:input message="tns:examuploadSoapIn" />
      <wsdl:output message="tns:examuploadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JobDataHandlerSoap" type="tns:JobDataHandlerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="examonline">
      <soap:operation soapAction="http://tempuri.org/examonline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:examonlineMySoapHeader" part="MySoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="examupload">
      <soap:operation soapAction="http://tempuri.org/examupload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:examuploadMySoapHeader" part="MySoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="JobDataHandlerSoap12" type="tns:JobDataHandlerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="examonline">
      <soap12:operation soapAction="http://tempuri.org/examonline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:examonlineMySoapHeader" part="MySoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="examupload">
      <soap12:operation soapAction="http://tempuri.org/examupload" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:examuploadMySoapHeader" part="MySoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JobDataHandler">
    <wsdl:port name="JobDataHandlerSoap" binding="tns:JobDataHandlerSoap">
      <soap:address location="http://192.168.199.216/SowerESTHomeworkService/JobDataHandler.asmx" />
    </wsdl:port>
    <wsdl:port name="JobDataHandlerSoap12" binding="tns:JobDataHandlerSoap12">
      <soap12:address location="http://192.168.199.216/SowerESTHomeworkService/JobDataHandler.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>